.body {
  width: 100%;
  margin: auto;
  font-family: inherit sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

.content_container {
  width: 100%;
  background-color: white;
}

.container_inner {
  width: 70%;
  margin: 0 auto;
}
